body::-webkit-scrollbar {
  display: none;
}
.button:hover {
  background-color: rgb(3, 3, 221);
  color: white;
}
.button {
  background-color: #0d6efd;
  color: white;
}
.act {
  background-color: #0d6efd;
  color: white;
  border: solid 5px rgb(7, 0, 104);
}
.unfocus:focus {
  outline: none;
  box-shadow: none;
}
